/.DS_Store
/Beer.io.xcodeproj/project.xcworkspace/xcuserdata/tonymwinters.xcuserdatad/UserInterfaceState.xcuserstate
/Beer.io.xcodeproj/project.xcworkspace/xcuserdata/mattgarkusha.xcuserdatad/UserInterfaceState.xcuserstate